#root{
   /* border: #333; */
   height: 100%;
   width: 100%;
   align-items: flex-end;
   color: rgb(16, 29, 29);
   flex-shrink: initial;
}

.calc{
    width: 320px;
    margin: 100px auto ;
    border-radius: 3px; 
 }
 #answer{
   
    /* background-color: #e2e2e2; */
    padding: 4px;
    font-size: 35px;
    width: 300px;
    height: 45px;
    text-align: right;
    /* border: 3px solid #333 ; */
    border-radius: 25px;

 }

 .button{
    background-color: #333;
    height: 80px;
    width: 80px;
    /* color: white; */
    font-size: 30px;
    /* border: 1px solid rgb(0, 0, 0); */

    border-radius: 50px;
    float: left;
 }

 .buttoncol4{
   background-color: #333;
   height: 80px;
   width: 80px;
   /* color: rgb(8, 115, 22); */
   font-size: 35px;
   border: 1px solid rgb(0, 0, 0);
   

   border-radius: 50px;
   float: left;
}

 .button1{
    width: 160px;
    border-radius: 30px;
 }


 .darkmode{
   align-items: center;
 border-radius: 25px;
 }